*{ margin:0;
    padding:0;
    list-style:none;
    text-decoration:none;
    font-size: small;
    font-family: 'Roboto', sans-serif;
}
 
 a{
     text-decoration: none;
 }

 ul{
     list-style: none;
 }

header{
    background-color: rgb(92, 174, 241);
    padding: 5px 0px; 
    
}

body {
    margin: 0;
    background-color:rgb(245, 245, 245);
    height: 100%;
    width: 100%;
}


header .encabezado {
    display: flex;
    align-items: center;
}


header .encabezado a {
    color: rgb(255, 255, 255);
    margin: 0 20px;
    text-decoration: none;
    padding-left: 100px;
    padding-right: 50px; 
}


h1 {
    font-size: 26px;
}


footer{
    width: 100%;
    bottom: 0;
    padding-top: 3px;
    padding-bottom: 0;
    background-color: rgb(134, 134, 134);;
}


footer .contenedor-footer {
    display: flex;
    align-items: center;
    padding-bottom: 1%;
    padding-top: 5px;
}


.columna-33 {
    width: 33.33%;
    color: rgb(255, 255, 255);
    text-align: center;
}


footer .columna-33 a {
    color: rgb(255, 255, 255);
}


footer h3 {
    color: rgb(255, 255, 255);
    text-align: center; 
}


footer .barra-footer {
    background-color: rgb(228, 220, 220);
    text-align: center;
    padding-bottom: 1%;
    padding-top: 1%;
}


.parrafo1{
    color: rgb(47, 76, 107);
    font-size: 18px;
}


.form {
    display: none;
}


.imagen2{
    right: 10%;
    width: 30%;
    display: block;
}


.imagenLogo{
    size: 15px 15px;
    margin-top: 10px;
}


.titulo2{
    font-size: 16px;
}


.titulo{
    font-size: 25px;
    color: rgb(61, 63, 66);
}


.formularioInput{
    background: rgba(174, 218, 253, 0.6);
	border: none;
	outline: none;
	border-bottom: 2px solid rgb(92, 174, 241);
	width: 100%;
	margin-bottom: 15px;
	border-radius: 2px;
	font-size: 14px;
	color: rgb(173, 173, 173);
}


.overlay {
    background-color: rgba(100, 119, 172, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;

}

.overlay.active {
    visibility: visible;
}


.popup {
    background-color:  cornsilk;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,3);
    border-radius: 3px;
    padding: 20px;
    width: 270px;
    height: 160px;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.popup h3 {
    font-size: 16px;
    margin-bottom: 5px;
    color: rgb(64, 66, 68);
}


.popup .validacionTarjeta {
    font-size: 16px;
    margin-bottom: 10px;
}


.cerrarPopup {
    padding: 0px 10px;
    height: 30px;
    line-height: 30px;
    border: none;
    color:rgb(245, 245, 245);
    background: rgb(92, 174, 241);
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 5px;
    
}


#contenedor {
    display: flex;
    padding-left: 50px;
    padding-top: 20px;
    justify-content: space-evenly;
    margin: 15px;
}


#contenedor .bloque-contenedor {
    width: 300px;
    text-align: center;
    left: auto;
    background-color: white;
    position: relative;   
    padding: 20px 20px;
    border-radius: 10px;;
}


#contenedor .bloque-contenedor::after {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    content:" ";
    background: -webkit-linear-gradient(to right, #76b9d8, #90a1fc); 
    background: linear-gradient(to right, #4195bd, #afaaf7); 
    height: 100%;
    width: 100%;
    filter: blur(20px);
    z-index:-1;
}


#form .bloque-tarjeta {
    position: relative;
    background-color: rgba(192, 201, 211, 0.281);
    max-width: 180px;
    margin: auto;
    margin-top: 40px;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    border-style: hidden;
    color: #373b3b;
}


#botonValidar {
    position: absolute;
    left: 30%;
    border: 0;
    background: #12A2F3;
    border: #777b7e;
    padding: 5px;
    color: white;
    margin: 1px 0;
    width:auto;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 4px;
    text-shadow: 1px 1px 1px #5e6266;
}


#form #valor{
    position: absolute;
    left: 510px;
}


#form #valorMultiplicacion{
    position: absolute;
    left: 590px;
}